PyQt6 ~= 6.10.2
pandas ~= 3.0.0
numpy ~= 2.4.2
requests ~=2.32.5
requests-cache~=1.2.1
retry-requests ~=2.0.0
openmeteo-requests ~= 1.7.5
black >= 26.1.0
pyinstaller >= 6.18.0
sphinx >= 9.1.0
